* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
#wakeLockActive {
  width: max-content;
  color: green;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
#wakeLockRelease {
  width: max-content;
  color: red;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
